<section class="container-fluid app-container height100">

    <header class="claerfix pull-left">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sample Application</a>
                </div>

                <div class="collapse navbar-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="javascript:void(0);">Welcome to home </a></li>
                        <li><a href="#" ng-click="logout();">Logout </a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="col-md-12 col-lg-12 padding0 height100">

        <div class="left-pane col-md-3 col-lg-3 height100">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#" ui-sref="home">Dashboard</a></li>
               
            </ul>
        </div>
        
        <div class="right-pane col-md-9 col-lg-9 height100">
                <div class="panel panel-default">
                        <div class="panel-heading">Panel heading without title</div>
                        <div class="panel-body">
                              <table class="table">
                                      <caption>Optional table caption.</caption>
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Username</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">1</th>
                                              <td>Mark</td>
                                              <td>Otto</td>
                                              <td>@mdo</td>
                                          </tr>
                                          <tr>
                                              <th scope="row">2</th>
                                              <td>Jacob</td>
                                              <td>Thornton</td>
                                              <td>@fat</td>
                                          </tr>
                                          <tr>
                                              <th scope="row">3</th>
                                              <td>Larry</td>
                                              <td>the Bird</td>
                                              <td>@twitter</td>
                                          </tr>
                                      </tbody>
                                  </table>
                        </div>
                      </div>
        </div>
    </div>

        <footer>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="text-center">&copy; 2017 All Rights Reserved </p>
                </div>
            </nav>

        </footer>


</section>